$h1size: 32px;
$h2size: 24px;
$h3size: 18px;
$h4size: 14px;
$bodysize: 12px;
$firstColor: #27BDF3;
$secondColor: #2B597F;
$tirdColor: #FC4755;
$fourthColor: #FAA515;
$grey: #858B99;
$white: #FFFF;
$bold: 700;
$medium: 600;