<body> 
    <section class="description">
        <div class="leftColumn">
            <h1>Traders Analysis</h1>
            <p>Visual analysis of different traders in the city</p>
        </div>
        <div class="map" id='map'></div>
    </section>
    <section class="graphics">
        <h2>Graphics</h2>
        <div class="row">
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header">Graphic 1</div>
                <div class="card-body">
            </div>
            </div>
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header">Graphic 2</div>
                <div class="card-body">
            </div>
            </div>
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header">Graphic 3</div>
                <div class="card-body">
            </div>
            </div>
        </div>
    </section>
    <section class="filters">
        <h2>Filters</h2>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </section>
</body>
