<body> 
    <section class="description">
        <div class="leftColumn">
            <h1>Traders Analysis</h1>
            <p>Visual analysis of different traders in the city</p>
        </div>
        <div class="map" id='map'></div>
    </section>
    <section class="graphics">
        <h2>Graphics</h2>
        <div class="row">
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header">Graphic 1</div>
                <div class="card-body">
            </div>
            </div>
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header">Graphic 2</div>
                <div class="card-body">
            </div>
            </div>
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header">Graphic 3</div>
                <div class="card-body">
            </div>
            </div>
        </div>
    </section>
</body>
