@import '../utilities/variables';
nav {
    height: 73px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: $firstColor;
    img {
        margin-left: 44px;
    }
    a {
        margin-left: 10px;
        color: $white;
        font-size: $h2size;
    }
    form {
        input {
            width: 441px;
            height: 23px;
            color: $secondColor;
            font-style: italic;
            font-size:  $h4size;
            font-weight: $medium;
            text-align: center;
        }
        .form-control {
            border: 1px solid #1E1F58;
            border-radius: 10px;
        }
    }
    .changeTheme {
        display: flex;
        align-items: center;
        padding: 2px;
        margin: 0 44px 0 0;
        background-color: $tirdColor;
        height: 23px;
        width: 61px;
        border-radius: 10px;
        box-shadow: 0px 3px 6px #00000029;
        border: none;
        button {
            width: 20px;
            height: 20px;
            border: none;
            background: transparent linear-gradient(321deg, #1EC0C3 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
            border: 1px solid #775DFF;
            border-radius: 100%;
        }
    }
}
